/* Resets */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  background-color: rgb(242, 242, 242);
}

.wrapper {
  padding: 0 1rem;
}

.attribution {
  margin-top: 2vmax;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 30rem) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 77%;
    max-height: 64%;
    margin: auto;
  }
}
