:root {
  /* Colours */
  --clr-tgs-bg: hsl(0, 0%, 95%);
  --clr-fg: hsl(217, 19%, 35%);

  --clr-dark-fg: hsl(0, 0%, 100%);
  --clr-dark-bg: hsl(217, 30%, 14%);

  --clr-featured: hsl(263, 55%, 52%);
  --clr-quote: hsl(264, 82%, 70%);

  --clr: hsl(0, 0%, 81%);
  --clr: hsl(210, 46%, 95%);

  --card-shadow: 40px 60px 50px -47px hsla(217, 19%, 35%, 0.25);

  /* Typography */
  --ff-base: "Barlow Semi Condensed", sans-serif;
  --fw-normal: 500;
  --fw-bold: 600;
  --lh-normal: 1.6;
  --lh-slug: 1.5;
  --lh-quote: 1.125;

  --rs-04: 0.25rem;
  --rs-11: 0.6875rem;
  --rs-13: 0.8125rem;
  --rs-16: 1rem;
  --rs-17: 1.0625rem;
  --rs-18: 1.125rem;
  --rs-20: 1.25rem;
  --rs-24: 1.5rem;
  --rs-32: 2rem;

  /* Misc */
  --card-corner: 8px;
}

.tgs {
  padding: 0 2vw;

  font-family: var(--ff-base);
  font-size: 1rem;
  font-weight: var(--fw-normal);
  line-height: var(--line-height);

  background-color: var(--clr-tgs-bg);
}
