:root {
  /* Colours */

  /* Typography */
  --ff-base: "Barlow Semi Condensed", sans-serif;
  --fw-normal: 500;
  --fw-bold: 600;
  --line-height: 1.6;

  --rs-11: 0.6875;
  --rs-13: 0.8125rem;
  --rs-16: 1rem;
  --rs-18: 1.125rem;
  --rs-20: 1.25rem;
}

.tgs {
  font-family: var(--ff-base);
  font-size: 1rem;
  font-weight: var(--fw-normal);
  line-height: var(--line-height);
}
